.siaka-dropdown-menu-visible {
  visibility: visible;
}

.siaka-dropdown-menu-hidden {
  visibility: hidden;
}

.siaka-dropdown-openBtn-hidden {
  display: none;
}

/* default close button */
.default-style-dropdown-closeBtn {
  position: absolute;
  top: 20px;
  right: -30px;
}
.default-style-dropdown-closeBtn svg {
  fill: black;
  width: 2rem;
  height: 2rem;
}
